
/*-----------Content Start---------*/
.banner-image img
{
	position: relative;
	width: 100%;
	height: 300px;
}
.banner-image p 
{
	position: absolute;
	z-index: 5;
	margin-top: 134px;
	color: white;
	font-size: 40px;
	font-weight: 900;
}
.banner-image span 
{
  font-size: 20px;
  font-weight: 600;
}
.image-over-div
{
	position: absolute;
	width: 90%;
	z-index: 6;
	margin-top: -56px;
	padding-top: 10px;
	background-color: #1a000d;
	opacity: 0.8;
	/*border-radius: 12px;*/
	border-right: 5px solid #ff471a;
}
.image-over-div p 
{
	margin-left: 8%;
	color: white;
	font-size: 20px;
	font-weight: 600;
}
.image-over-div span
{
	color: #ff471a;
}
.color-text
{
	color: #ff471a;
	font-weight: 700;
	font-size: 19px;
}
.large-text
{
	font-size: 29px;
	font-weight: 700;
}
.content .low-vissible
{
	opacity: 0.9;
	font-weight: 600;
}
.content1 i 
{
	padding-right: 9px;
}
.content1 p 
{
   font-weight: 600;
}
.content1 img
{
  height: 350px;
}
.content2 img 
{
	height: 300px;
	border-radius: 8px;
}
.content2-1
{
	position: relative;
}
.content2 .image-name
{
	position: absolute;
	z-index: 12;
	width: 100;
	left: 15%;
	margin-top: -35px;
	padding: 10px;
	padding-left: 50px;
	padding-right:50px;
	font-size: 25px;
	font-weight: 600;
	background-color:#f0f0f5;
	border-radius: 12px;
}
.content2-1:hover .image-name
{
	background-color: #ff471a;
	color: white;
	transition: 1s;
}
.testimonal
{
	background-color: #ff471a;
	color: white;
	margin-top: 50px;
	position: relative;
}
.testimonal .heading
{
	font-weight:600;
	font-size: 18px;
}
.large-text1
{
	font-size: 45px;
	font-weight: 600;
}
.feedbacker-name
{
	font-size: 18px;
	font-weight: 600;
	opacity: 0.9;
}
.border-paragraph
{
	border-left: 5px solid white;
	padding-left: 15px;
	font-size: 18px;
	opacity: 0.8;
	margin-right: 17%;
}
.booking-form
{
	background-color: #1a001a;
	color: white;
	position: absolute;
	margin-left: 41.6%;
	margin-top: 95px;
}
@media screen and (max-width: 575px)
{
	.testimonal
	{
		position: unset;
	}
	.booking-form
	{
		position: unset;
		margin-left: 0px;
		margin-top: 0px;
		border-bottom: 1px groove white;
	}
	.border-paragraph
{
	margin-right: 0px;
}
}
.booking-form input, .booking-form textarea {
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding-bottom: 9px;
    padding-left: 35px;
    border-bottom: 1px solid white;
}
.booking-form i 
{
	color: #ff471a;
}
.booking-form textarea
{
	width: 76%;
	margin-left: 5%;
}
.booking-form input:hover,.booking-form textarea:hover
{
  border-color: #ff471a;
}
/*-----------Content End---------*/
